// Declaring SCSS global variables, no curly braces needed, prepend '$' in front of the variables when declaring
$background-color: #333;
$text-color: rgb(228, 220, 220);
$highlight-color-pink: #bf4080;
$highlight-color-pink-hover: #c0548a;
$highlight-color-blue: rgb(60, 159, 240);
$font-family: Arial, Helvetica, sans-serif;

// Defining Maps variable which has multiple values with normal braces as wrapper and end it with semi-colon, example below
$font-weights: (
    "light": 400,
    "medium": 600,
    "bold": 700,
);

$text-aligns: (
    "start": start,
    "center": center,
    "end": end,
);

$mobile-breakpoints: (
    "mobile": 578px,
    "tablet": 992px,
    "desktop": 1920px,
);