// Importing partials into the main.scss file, notice that no undesrcore needed or url() method needed to import partials, can omit the _ and .scss extension
@import './resets';
@import './variables';
@import './functions';

    
// Just call the nam of the variables directly to the scss properties to use it, example as below
body {
    background: $background-color;
    color: $text-color;    
}

.main {
    width: 80%;
    margin: 0 auto;
    
    // & or ampersand can be replaced with the word .main, its a shorthand syntax supported by SCSS for BEM based CSS convention
    // wrapping the & or ampersand with #{}, ensures .main__paragraph is considered as child element and inherits all the .main's styles 
    #{&}__paragraph {
        // We are reusing the weight() function declared in _functions.scss file and passing the param as declared in _variables.scss
        font-weight: weight(light);

        &:hover {
            color: $highlight-color
        }
    }
}